/build/
*.suo
*.user
_ReSharper.*/
*.sdf
.vs
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.json
.vs/ProjectEvaluation/projectmomodonation.metadata.v5.2
.vs/ProjectEvaluation/projectmomodonation.projects.v5.2
.vs/ProjectMomoDonation/DesignTimeBuild/.dtbcache.v2
.vs/ProjectMomoDonation/v17/.futdcache.v2
.vs/ProjectEvaluation/projectmomodonation.metadata.v5.2
*.vs
