<div class="mx-auto w-full max-w-6xl px-5 md:px-8 lg:px-8">
  <div class="mt-5 grid grid-cols-1 pb-10 lg:mt-6 lg:grid-cols-3 lg:gap-6">
    <div class="col-span-2">
      <div>
        <h1 class="text-momo mb-3 text-2xl font-bold">Các đối tác đồng hành</h1>
      </div>
    </div>
    <div
      class="border-t border-gray-300 pt-3 md:pt-0 lg:border-t-0 lg:border-l lg:pl-6"
    >
      <div style="position: relative; top: 0px">
        <div class="mt-3 rounded-lg bg-white pt-5 lg:mt-0 lg:px-0 lg:py-0">
          <h2 class="h3 mb-4 flex items-center text-xl font-bold text-momo">
            Hoàn cảnh quyên góp mới nhất
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
