<div
  class="py-4 md:py-10 lg:py-14 landing:bg-transparent bg-gray-50"
  style="--grad-rgb-color: 250 250 250"
>
  <div class="mx-auto w-full max-w-6xl px-5 md:px-8 lg:px-8">
    <div class="mb-5 text-center md:mb-8" id="section-article">
      <h2
        class="text-2xl pb-4 font-bold landing:text-lpTitle lg:text-3xl text-pink-600"
      >
        Các hoàn cảnh Quyên góp
      </h2>

      <div>
        <div style="width: 100%">
          <swiper-container
            #swiper
            [slidesPerView]="3"
            [initialSlide]="1"
            [pagination]="{ clickable: true, dynamicBullets: true }"
            [spaceBetween]="50"
            [autoplay]="true"
            autoplay-delay="5000"
            autoplay-disable-on-interaction="false"
            [breakpoints]="breakpoints"
          >
            <swiper-slide *ngFor="let donationProgram of allDonationProgram">
              <app-main-donation-program-item
                [donationProgram]="donationProgram"
              ></app-main-donation-program-item>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</div>
