<h1 mat-dialog-title>Nhập tên đăng nhập của bạn</h1>

<div mat-dialog-content >
  <div class="container">
    <input
    class="col-12"
      type="username"
      [(ngModel)]="username"
      id="username"
      placeholder="Nhập tên đăng nhập"
      name="username"
    />
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Đóng</button>
  <button mat-button (click)="forgotPasswordRequest()" [mat-dialog-close]="true" cdkFocusInitial>Xác nhận</button>
</mat-dialog-actions>