<body>
  <section class="h-100 gradient-form" style="background-color: #eee">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img
                      src="assets/img/MoMo_Logo.png"
                      style="width: 10%"
                      alt="logo"
                    />
                    <h4 class="font-bold mt-1 mb-5 pb-1">Đăng Nhập</h4>
                  </div>

                  <form #form="ngForm" (ngSubmit)="onLoginRequest()">
                    <label class="form-label" for="username">Tên đăng nhập</label>

                    <div class="form-outline mb-4">
                      <input
                        type="email"
                        id="username"
                        class="form-control"
                        placeholder="Phone number or email address"
                        [(ngModel)]="model.username"
                        name="username"
                      />
                    </div>
                    <label class="form-label" for="form2Example22"
                      >Mật khẩu</label
                    >
                    <div class="form-outline mb-4">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        placeholder="Password"
                        [(ngModel)]="model.password"
                        name="password"
                      />
                    </div>

                    <div class="text-center rows pt-1 mb-5 pb-1">
                      <button
                        class="btn btn-primary btn-block col-12 fa-lg gradient-custom-2 mb-3"
                        type="submit"
                      >
                        Log in
                      </button>
                      <a
                        class="text-muted"
                        routerLink="/trai-tim-momo/changepassword"
                        routerLinkActive="active"
                        >Đổi mật khẩu</a
                      >
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-center pb-4"
                    >
                      <p class="mb-0 me-2">Bạn chưa có tài khoản?</p>
                      <a
                        class="text-red-600 underline"
                        routerLink="/trai-tim-momo/register"
                        routerLinkActive="active"
                        >Tạo mới</a
                      >
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-center pb-4"
                    >
                      <p class="mb-0 me-2">Bạn quên mật khẩu?</p>
                      <a
                       class=" text-red-600 underline"
                       (click)="openDialog()"
                        >Đặt lại</a
                      >
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <img
                  class="col-12"
                  src="assets/img/MoMo_Login.png"
                  alt="Trái tim Momo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
